{% extends "base.html" %}

{% block active_link %}about-link{% endblock %}

{% block body %}
<div class="container card bg-light p-3">
    <p>LegendaryPotato is a game designed to inspire anyone from children through adults to improve their math skills through an ELO system and leaderboards. In the same way that apps like Duolingo motivate people to learn languages through an increased challenge and weekly rankings, LegendaryPotato aims to push people to their mathematical peak.</p>
</div>
<div class="container" style="justify-content: center; display: flex;">
    <div class="card bg-light p-3">
        <img src="../static/img/potato.png" style="width: 20vw;">
    </div>
</div>
{% endblock %}