<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css' ) }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css' ) }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js' ) }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js' ) }}"></script>
        {% block css %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div id="wrapper">
            {% for message in get_flashed_messages() %}
            
            <h3 class="text-center">{{ message }}</h3>
            
            {% endfor %}
            <ul class="nav nav-tabs" role="tablist">
                <li id="home-link"><a href="/">Home</a></li>
                <li id="single-link"><a href="/single">Singleplayer</a></li>
                <li id="multi-link"><a href="/multi">Multiplayer</a></li>
                {% if 'user' in session %}
                <li id="login-link" class="pull-right"><a href="/logout">Logout</a></li>
                {% else %}
                <li id="login-link" class="pull-right"><a href="/login">Login</a></li>
                {% endif %}
            </ul>
            {% block body %}{% endblock %}
        </div>

        <script type="text/javascript">
            document.getElementById("{% block active_link %}{% endblock %}").classList.add("active");
        </script>
        {% block js %}{% endblock %}
    </body>

</html>
