{% extends "base.html" %}

{% block active_link %}home-link{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="card bg-light p-5 text-center col-sm-4">
            <h3>Arithmetic (Beginner)</h3>
            <h3>{{ arithmetic_beginner }}</h3>
        </div>
        <div class="card bg-light p-5 text-center col-sm-4">
            <h3>Arithmetic (Intermediate)</h3>
            <h3>{{ arithmetic_intermediate }}</h3>
        </div>
        <div class="card bg-light p-5 text-center col-sm-4">
            <h3>Arithmetic (Expert)</h3>
            <h3>{{ arithmetic_expert }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="card bg-light p-5 text-center col-sm-6">
            <h3>Algebra (Easy)</h3>
            <h3>{{ algebra_easy }}</h3>
        </div>
        <div class="card bg-light p-5 text-center col-sm-6">
            <h3>Algebra (Hard)</h3>
            <h3>{{ algebra_hard }}</h3>
        </div>
    <div class="row">
        <div class="card bg-light p-5 text-center col-sm-12">
            <h3>Geometry/Trigonometry</h3>
            <h3>{{ geometry }}</h3>
        </div>
    </div>
</div>

{% endblock %}